<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.lh.list.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.lh.list.model.User">
        <id column="id" property="id" jdbcType="VARCHAR"/><!-- 主键 -->
        <result column="user_name" property="userName" jdbcType="VARCHAR"/><!-- 姓名 -->
        <result column="age" property="age" jdbcType="INTEGER"/><!-- 年龄 -->
        <result column="sex" property="sex" jdbcType="INTEGER"/><!-- 性别 -->
    </resultMap>
    <resultMap id="BaseResult1Map" type="com.lh.list.model.User">
        <id column="id" property="id" jdbcType="VARCHAR"/><!-- 主键 -->
        <result column="user_name" property="userName" jdbcType="VARCHAR"/><!-- 姓名 -->
        <result column="age" property="age" jdbcType="INTEGER"/><!-- 年龄 -->
        <result column="sex" property="sex" jdbcType="BIT"/><!-- 性别 -->
    </resultMap>

    <sql id="Base_Column_List">
    id, user_name, age, sex
    </sql>
    <sql id="Base_Column_List2">
    id, user_name as userName, age, sex
    </sql>

    <!-- 注释：转对象得到UserList -->
    <select id="selectByPrimaryKey3" resultMap="BaseResult1Map" parameterType="com.lh.list.model.User">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user
        <where>
            <if test="id != null">
                AND id like CONCAT(#{id,jdbcType=VARCHAR},'%')
            </if>
            <if test="userName != null">
                AND user_name like CONCAT('%',#{userName,jdbcType=VARCHAR},'%')
            </if>
            <if test="age != null">
                <![CDATA[AND age > #{age,jdbcType=INTEGER}]]>
            </if>
            <if test="sex != null">
                AND sex = #{sex,jdbcType=BIT}
            </if>
        </where>
        ORDER BY id
    </select>

    <!--注释：主键查询User对象-->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
        </where>
    </select>

    <!-- 注释：主键查询获得user对象 -->
    <select id="selectByPrimaryKey2" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        id<!-- 主键 -->
        ,user_name<!-- 姓名 -->
        ,age<!-- 年龄 -->
        ,sex<!-- 性别 -->
        FROM user
        <where>
            <if test="id != null">
                AND id = #{id,jdbcType=VARCHAR}
            </if>
        </where>
        ORDER BY id
    </select>

</mapper>