<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.lh.list.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.lh.list.model.User">
        <id column="id" property="id" jdbcType="VARCHAR"/><!-- 主键 -->
        <result column="user_name" property="userName" jdbcType="VARCHAR"/><!-- 姓名 -->
        <result column="age" property="age" jdbcType="INTEGER"/><!-- 年龄 -->
        <result column="sex" property="sex" jdbcType="INTEGER"/><!-- 性别 -->
    </resultMap>
    <resultMap id="BaseResult1Map" type="com.lh.list.model.User">
        <id column="id" property="id" jdbcType="VARCHAR"/><!-- 主键 -->
        <result column="user_name" property="userName" jdbcType="VARCHAR"/><!-- 姓名 -->
        <result column="age" property="age" jdbcType="INTEGER"/><!-- 年龄 -->
        <result column="sex" property="sex" jdbcType="BIT"/><!-- 性别 -->
    </resultMap>
    <resultMap id="UseAndUseOtherMap" type="com.lh.list.model.UseAndUseOther2">
        <id column="id" property="id" jdbcType="VARCHAR"/><!-- 主键 -->
        <result column="user_name" property="userName" jdbcType="VARCHAR"/><!-- 姓名 -->
        <result column="age" property="age" jdbcType="INTEGER"/><!-- 年龄 -->
        <result column="sex" property="sex" jdbcType="INTEGER"/><!-- 性别 -->
        <result column="useHeight" property="useHeight" jdbcType="INTEGER"/><!-- 性别 -->
        <result column="remark" property="remark" jdbcType="VARCHAR"/><!-- 性别 -->
    </resultMap>
    <resultMap id="UseAndUseOtherMap2" type="com.lh.list.model.UseAndUseOther">
        <id column="id" property="id" jdbcType="VARCHAR"/><!-- 主键 -->
        <result column="user_name" property="userName" jdbcType="VARCHAR"/><!-- 姓名 -->
        <result column="age" property="age" jdbcType="INTEGER"/><!-- 年龄 -->
        <result column="sex" property="sex" jdbcType="INTEGER"/><!-- 性别 -->
        <association property="useOther" column="id" javaType="com.lh.list.model.UseOther">
            <id column="id" property="id" jdbcType="VARCHAR"/><!-- 主键 -->
            <result column="useHeight" property="useHeight" jdbcType="INTEGER"/><!-- 性别 -->
            <result column="remark" property="remark" jdbcType="VARCHAR"/><!-- 性别 -->
        </association>
    </resultMap>
    <resultMap id="UseAndUseOtherMap3" type="com.lh.list.model.UseAndUseOther3">
        <id column="id" property="id" jdbcType="VARCHAR"/><!-- 主键 -->
        <result column="user_name" property="userName" jdbcType="VARCHAR"/><!-- 姓名 -->
        <result column="age" property="age" jdbcType="INTEGER"/><!-- 年龄 -->
        <result column="sex" property="sex" jdbcType="INTEGER"/><!-- 性别 -->
        <collection property="useOthers" ofType="com.lh.list.model.UseOther">
            <id column="index" property="index" jdbcType="VARCHAR"/><!-- 主键 -->
            <result column="use_height" property="useHeight" jdbcType="INTEGER"/><!-- 性别 -->
            <result column="remark" property="remark" jdbcType="VARCHAR"/><!-- 性别 -->
        </collection>
    </resultMap>

    <sql id="Base_Column_List">
    id, user_name, age, sex
    </sql>
    <sql id="Base_Column_List2">
    id, user_name as userName, age, sex
    </sql>

    <select id="selectUserAndUserOtherByAll2" resultMap="UseAndUseOtherMap2">
      SELECT main.id
      ,main.user_name
      ,main.age
      ,main.sex
      ,sub.use_height
      ,sub.remark
      FROM user as main
      INNER JOIN user_other as sub on main.id = sub.id
      WHERE main.id = 'id2o'
      ORDER BY main.id
    </select>

    <select id="selectUserAndUserOtherByAll3" resultMap="UseAndUseOtherMap3">
      SELECT main.id
      ,main.user_name
      ,main.age
      ,main.sex
      ,sub.use_height
      ,sub.remark
      FROM user as main
      INNER JOIN user_other as sub on main.id = sub.id
      WHERE main.id = 'id2o'
      ORDER BY main.id
    </select>

    <select id="selectUserAndUserOtherByAll" resultMap="UseAndUseOtherMap">
      SELECT main.id
      ,main.user_name
      ,main.age
      ,main.sex
      ,sub.use_height
      ,sub.remark
      FROM user as main
      INNER JOIN user_other as sub on main.id = sub.id
      WHERE main.id = 'id2o'
      ORDER BY main.id
    </select>
    <!-- 注释：转对象得到UserList -->
    <select id="selectByPrimaryKey3" resultMap="BaseResult1Map" parameterType="com.lh.list.model.User">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user
        <where>
            <if test="id != null">
                AND id like CONCAT(#{id,jdbcType=VARCHAR},'%')
            </if>
            <if test="userName != null">
                AND user_name like CONCAT('%',#{userName,jdbcType=VARCHAR},'%')
            </if>
            <if test="age != null">
                AND age > #{age,jdbcType=INTEGER}
            </if>
            <if test="sex != null">
                AND sex = #{sex,jdbcType=BIT}
            </if>
        </where>
        ORDER BY id
    </select>

    <select id="selectByListKey" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user
        <where>
            <if test="list != null">
                AND id IN
                <foreach item="item" index="index" collection="list" open="(" separator=", " close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
    <!--注释：主键查询User对象-->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
        </where>
    </select>
    <!-- 注释：主键查询获得user对象 -->
    <select id="selectByPrimaryKey2" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        id<!-- 主键 -->
        ,user_name<!-- 姓名 -->
        ,age<!-- 年龄 -->
        ,sex<!-- 性别 -->
        FROM user
        <where>
            <if test="id != null">
                AND id = #{id,jdbcType=VARCHAR}
            </if>
        </where>
        ORDER BY id
    </select>
</mapper>